{% extends "wiki/base.html" %}
{% load crispy_forms_tags %}
{% block site %}

    <!-- <div class="content-section"> -->
        <form method="POST" enctype="multipart/form-data" action=".">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Edit Page</legend>
                 {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <a href="{% url 'wiki-details' object.id %}">Post</a>
        </form>

{% endblock site %}
