{% extends "wiki/base.html" %}
{% block site %}

      <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <!-- <a class="mr-2" href="#">object.author }}</a> -->
              <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <div style="width: 350px;">
              <img style="width: 100%; height: auto; float: left; padding: 10px;" src="{{ object.image.url }}">
            </div>
            <div class="article-content">{{ object.content | safe }}</div>

          </div>
      </article>


{% endblock site %}


{% block sidebar %}

<div class="col-md-4">
    <h3>More about {{ object.title }}</h3>
    <p class='text-muted'>
      <ul class="list-group">
        <li class="list-group-item list-group-item-light"><a href="https://en.wikipedia.org/wiki/{{ object.title }}" target="_blank">{{ object.title }} Wikipedia Page</a></li>
        <li class="list-group-item list-group-item-light"><a href="https://duckduckgo.com/?q={{ object.title }}&t=ffab&ia=web" target="_blank">Search {{ object.title }} On DuckDuckGo</a></li>
        <li class="list-group-item list-group-item-light"><a href="https://duckduckgo.com/?q={{ object.title }}&t=ffab&iax=images&ia=images" target="_blank">Find Pictures Of {{ object.title }} On DuckDuckGo</a></li>
        <li class="list-group-item list-group-item-light"><a href="{% url 'wiki-update' object.id %}">Edit {{ object.title }}</a></li>
        <li class="list-group-item list-group-item-light"><a href="{% url 'wiki-edits' object.id %}">Show Edit History</a></li>
        <li class="list-group-item list-group-item-light"><a href="{% url 'wiki-delete' object.id %}">Delete {{ object.title }} Wiki Page</a></li>
      </ul>
    </p>
</div>

{% endblock %}
