{% extends "wiki/base.html" %}
{% load static %}
{% block site %}

<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <!-- <a class="mr-2" href="#">object.author }}</a> -->
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
      </div>
      <h2 class="article-title">{{ dummy_data.title }}</h2>
      <div style="width: 350px;">
        <img style="width: 100%; height: auto; float: left; padding: 10px;" src="{% static '/wiki/'|add:value.title|add:'.jpg' %}" alt="">
      </div>
      <div class="article-content">{{ dummy_data.content | safe }}</div>

    </div>
</article>


{% endblock site %}


{% block sidebar %}

<div class="col-md-4">
    <h3>More about {{ dummy_data.title }}</h3>
    <p class='text-muted'>
      <ul class="list-group">
        <li class="list-group-item list-group-item-light"><a href="https://en.wikipedia.org/wiki/{{ dummy_data.title }}" target="_blank">Wikipedia Page</a></li>
        <li class="list-group-item list-group-item-light"><a href="https://duckduckgo.com/?q={{ dummy_data.title }}&t=ffab&ia=web" target="_blank">Search {{ dummy_data.title }} On DuckDuckGo</a></li>
        <li class="list-group-item list-group-item-light"><a href="https://duckduckgo.com/?q={{ dummy_data.title }}&t=ffab&iax=images&ia=images" target="_blank">Find Pictures Of {{ dummy_data.title }} On DuckDuckGo</a></li>
        <li class="list-group-item list-group-item-light"><a href="{% url 'dummy-edits' dummy_data.id %}">Show Edit History</a></li>
        <li class="list-group-item list-group-item-light"><a href="#">Delete {{ dummy_data.title }} Wiki Page</a></li>
      </ul>
    </p>
</div>

{% endblock %}
