{% extends "wiki/base.html" %}
{% load static %}
{% block site %}

<h1>Demo with dummy data</h1>

<p>Welcome. Take a look at the desciptions of each post to see what this demo offers. Click on any post to see more, or go to the main page and create your own wiki post of whatever you want.</p>

{% for key, value in dummy_data.items %}

  <article class="media content-section">
    <div>
      <h2><a style="display:block" class="article-title" href="{% url 'dummy-data' value.id %}">{{ value.title }}</a></h2>
      <p>Posted on {{ value.date_posted }}</p>
      <div style="width: 350px;">
        <a style="display:block" class="article-title" href="{% url 'dummy-data' value.id %}">
          <img  style="width: 100%; height: auto; float: left; padding: 10px;" src="{{ value.image }}" alt=""></a>
      </div>
      <a style="display:block" class="article-content" href="{% url 'dummy-data' value.id %}"><p class="article-content">{{ value.content | safe }}</p></a>
    </div>

  </article>


{% endfor %}

<!-- src="{% static '/wiki/' % value.title }}.jpg" -->

<!-- src="% static '/wiki/'|add:value.title|add:'.jpg' %}" -->

{% endblock site %}
