{% extends "wiki/base.html" %}
{% block site %}

  <h1>Home Page</h1>

  <h5>Click on 'Demo' to take a look at how this site works.</h5>

  {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

  {% endif %}

  {% for content in contents %}

    <article class="media content-section">
      <div>
        <h2><a style="display:block" class="article-title" href=" {% url 'wiki-details' content.id %}">{{ content.title }}</a></h2>
        <p>Posted on {{ content.date_posted }}</p>
        <div style="width: 350px;">
          <a style="display:block" class="article-title" href=" {% url 'wiki-details' content.id %}"><img  style="width: 100%; height: auto; float: left; padding: 10px;" src="{{ content.image.url }}" alt=""></a>
        </div>
        <a style="display:block" class="article-content" href=" {% url 'wiki-details' content.id %}"><p class="article-content">{{ content.content | safe }}</p></a>
      </div>

    </article>


  {% endfor %}

{% endblock site %}
